body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#questions-section, #results-section, #submit-score, #highscores-section {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #a103a6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ba33c9;
    scale: 115%;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #a103a6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a103a6;
    scale: 115%;
}

.hide {
    display: none;
}

#view-highscores {
    text-decoration: none;
    color: #a103a6;
}

#highscores-list {
    list-style: none;
    padding: 0;
}

#submit-score-form .form-style {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: auto;
}

#user-initials {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex-grow: 1;
    max-width: none;
}

#user-initials, #submit-score-form button {
    padding: 10px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    max-width: 300px;
}
/* #submit-score-form button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #a103a6;
    color: white;
    border: none;
    cursor: pointer;
    flex: 0 1 auto;
    padding: 10px 15px;
    width: auto;
} */

#submit-score-form button {
    padding: 10px 15px;
    width: auto;
    flex: 0 0 auto;
}

#submit-score-form button:hover {
    background-color: #ba33c9;
    scale: 115%;
}

#answer-button {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: left;
}

#question {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

#feedback {
    color: gray;
    border-top: 1px solid gray;
    padding-top: 5px;
    font-style: italic;
}

#text-prompt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}